<div *ngIf="cargando" id="loading" class="row" style="padding-top: 20px;">
    <div class="col-sm-12">
        <div class="text-center">
            <span class="font-weight-bold">Cargando Datos</span>
            <br><br>
            <i class="fa fa-spinner fa-spin fa-3x text-themecolor"></i>
            <br><br>
            <span>Por favor espere un momento...</span>
        </div>
    </div>
</div>

<!-- ============================================================== -->
<!-- VISTA ROOT Y ADMIN -->
<!-- ============================================================== -->
<div *ngIf="(_usuarioService.usuario.tipo_Usuario === 'ROOT') || (_usuarioService.usuario.tipo_Usuario === 'ADMIN')">
    <div class="row">
        <div class="col text-center">
            <div class="btn-group sgi_paddNorm">
                <button type="button" class="btn btn-rounded btn-outline-secondary" data-toggle="modal" data-target="#modalAvisoAgregar">
                    Nuevo Aviso
                </button>
            </div>
        </div>
    </div>

    <div *ngFor="let aviso of avisos" class="alert alert-info">
        <button (click)="eliminarAviso( aviso )" type="button" class="close pointer" aria-label="Close"> <span aria-hidden="true">×</span> </button>
        <h3 class="text-info"><i class="fa fa-exclamation-circle"></i> {{ aviso.titulo}}</h3> {{ aviso.aviso }}
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="jumbotron">
                <h1 class="display-4">{{ titulo }} {{ usuario.nombre }}</h1>
                <p class="lead">Bienvenido al Software de Auditorías del Sistema de Gestión Integral (SASGI).</p>
                <!-- <hr class="my-4">
                <p>Estos son los avisos que dejó tu Administrador</p>
                <p class="lead">
                    <a class="btn btn-themecolor text-white" role="button">Más</a>
                </p> -->
            </div>
        </div>
        <!-- <div class="col-lg-4 col-md-12">
            <div class="ribbon-wrapper card">
                <div class="ribbon ribbon-info ribbon-right">Almacenamiento</div>
                <div class="card-body">
                    <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType" [colors]="pieChartColors" [legend]="pieChartLegend"></canvas>
                    <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType"></canvas>
                </div>
            </div>
        </div> -->
    </div>
</div>

<!-- ============================================================== -->
<!-- VISTA AUDITOR LIDER, AUDITOR Y ALTA DIRECCION -->
<!-- ============================================================== -->
<div *ngIf="(_usuarioService.usuario.tipo_Usuario === 'AUDITOR_LIDER') || (_usuarioService.usuario.tipo_Usuario === 'AUDITOR') || (_usuarioService.usuario.tipo_Usuario === 'ALTA_DIRECCION')">

    <div *ngFor="let aviso of avisos" class="alert alert-info">
        <button type="button" class="close pointer" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">×</span> </button>
        <h3 class="text-info"><i class="fa fa-exclamation-circle"></i> {{ aviso.titulo}}</h3> {{ aviso.aviso }}
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="jumbotron">
                <h1 class="display-4">{{ titulo }} {{ usuario.nombre }}</h1>
                <p class="lead">Bienvenido al Software de Auditorías del Sistema de Gestión Integral (SASGI).</p>
                <!-- <hr class="my-4">
                <p>Estos son los avisos que dejó tu Administrador</p>
                <p class="lead">
                    <a class="btn btn-themecolor text-white" role="button">Más</a>
                </p> -->
            </div>
        </div>
    </div>
</div>

<!-- ============================================================== -->
<!-- MODAL AGREGAR -->
<!-- ============================================================== -->

<div class="modal fade" id="modalAvisoAgregar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1" aria-hidden="true" style="display: none;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel1">Nuevo Aviso</h4>
                <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button> -->
            </div>
            <div class="modal-body">
                <form class="floating-labels m-t-40" ngNativeValidate [formGroup]="forma" (ngSubmit)="agregarAviso()">
                    <div class="form-group m-b-40">
                        <input formControlName="titulo" name="titulo" id="titulo" type="text" class="form-control" required>
                        <span class="bar"></span>
                        <label for="titulo">Título:</label>
                    </div>
                    <div class="form-group m-b-40">
                        <textarea formControlName="aviso" name="aviso" id="aviso" class="form-control" required></textarea>
                        <span class="bar"></span>
                        <label for="aviso">Mensaje:</label>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-themecolor" data-dismiss="">Guardar</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>